[Desktop Entry]
Name=Creador de WebApps
Name[en_US]=WebApps Creator
Name[pt_BR]=Criador de WebApps
Comment=Crear WebApps de forma grafica y sencilla.
Comment[en_US]=Create WebApps in a simple and graphical way.
Comment[pt_BR]=Criar WebApps de forma gráfica e simples.
Exec=bash /usr/bin/webapps-creator-ui/webapps-creator-ui
Icon=/usr/share/icons/hicolor/scalable/apps/webapps-creator-ui.svg
StartupWMClass=webapps-creator-ui
Type=Application
Categories=System;
